.gradient {
    font-size: 48px;
    font-weight: bold;

    background: linear-gradient(to right, #136CB5, #49BBBD);

    -webkit-background-clip: text;
    background-clip: text;

    -webkit-text-fill-color: transparent;
    color: transparent;

    display: inline-block;
}


.purple{
    color: #2F327D;
}

.green{
    color: #00CBB8;
}

.gray{

   color:  #696984;
}