body {
  margin: 0;

}

.container {
  max-width: 1547px;
  /*ეს არის კონტენტის ზომა*/
  width: 90%;
  /*ავტომატურად ზომავს კონტენტის ზომას*/
  margin-inline: auto;
}

.welcome {

  background: #6fb3ae;

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;


    .button {
      padding: 10px 20px;
      border: none;
      border-radius: 20px;


    }

    a.button.signin {
      background-color: white;
      color: black;


    }

    a.button.signup {

      background-color: rgba(255, 255, 255, 0.3);
      color: white;

    }



  }

  .logo-links {
    color: white;
    font-weight: bold;
    font-size: 18px;
    text-decoration: none;
    background-image: url(/assets/images/polygon.svg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 80px;
    height: 80px;

  }

  .nav-links {

    a {
      color: white;
      text-decoration: none;
    }

    ul {
      list-style: none;
      display: flex;
      gap: 25px;

    }

  }


}





.image {
  background-color: #6fb3ae;


  .main-image {
    position: absolute;
    top: 224px;
    right: 228px;
    background-color: #6fb3ae;
    margin-bottom: 100px;


  }

  .chart-icon {
    position: absolute;
    top: 354px;
    right: 218px;
  }

  .mail {
    position: absolute;
    top: 604px;
    right: 118px;
  }
}




.main-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px;
  background-color: #6fb3ae;


  .text {
    max-width: 400px;
    margin-top: 222px;


    h1 {

      font-size: 36px;
    }

  }



  .join {
    margin-top: 20px;
    padding: 15px 30px;
    border: none;
    border-radius: 20px;
    background: #FFFFFF4D;
    color: white;

  }



}



.wrapper {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    color: #FFFFFF;
  }

}


.orange {
  color: orange;
}



.number {
  font-size: 20px;
  font-weight: bold;
  color: #545567;
}

.calendar {

  background: #FFFFFFCC;
  border-radius: 20px;
  padding: 10px 20px;
  color: #545567;
  backdrop-filter: blur(2px);

  position: absolute;
  top: 409px;
  right: 717px;






  .label {
    font-size: 15px;

  }

}

.mail {


  background: #FFFFFFCC;
  border-radius: 20px;
  padding: 20px 30px;
  color: #545567;
  backdrop-filter: blur(2px);
  z-index: 2;




  .icon {
    background: #F88C3D;
    border: 1px solid #F88C3D;
    border-radius: 10px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

  }




  .title {
    font-size: 28px;
    font-weight: bold;

  }

  .subtitle {
    font-size: 15px;

  }

}

.ux {
  background: #FFFFFFCC;
  border-radius: 20px;
  padding: 20px 30px;
  color: #545567;
  position: absolute;
  top: 744px;
  right: 639px;
  backdrop-filter: blur(2px);
  z-index: 2px;


  .join-button {

    border: 1px solid #D8587E;
    border-radius: 20px;
    background-color: #D8587E;
    color: #FFFFFF;
    padding: 10px 15px;
  }
}


section.achievements {
  margin-top: 400px;
  color: black;



  .stats {
    margin-top: 70px;

    ul {
      list-style: none;
      padding: 30px;

      li {
        display: flex;
        flex-direction: column;
      }
    }

    .label {
      font-size: 20px;
    }

  }

  .succsess {

    max-width: 650px;
    /*სიგანე შევუზღუდე*/
    margin-inline: auto;
    /* ვრაპერი იცენტრება*/
    text-align: center;
    /*შიგნით რაც არის ის იცენტრება*/

  }
}

.features {
  margin-top: 80px;


  .cloud {
    margin-bottom: 100px;

    p {
      color: #545567;
    }

  }

  .feature-card {

    ul {

      list-style: none;

    }
  }

  .icon {

    position: absolute;
    top: 0;
    /* ცენტრი ზუსტად ბორდერის ხაზზე დგება */
    left: 50%;
    transform: translate(-50%, -50%);
    /* აწევს ზემოთ ნახევარი სიმაღლით და აცენტრებს */
    width: 100px;
    height: 100px;
    border-radius: 50%;
  }
}

.content {
  margin-top: 100px;
  margin-bottom: 50px;


}


.left {
  position: relative;

  .text-student {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 60%;

    span {
      margin-bottom: 1rem;
      display: block;
      text-align: center;
    }

    button {

      text-align: center;
    }


  }


}

.right {
  width: 400px;
  background-size: contain;

  background-image: url(../images/students.png);
  background-repeat: no-repeat;

}





.img-left {
  position: relative;


  .text {


    font-size: 25px;


  }

  .btn {


    border: 1px solid #FFFFFF;
    padding: 20px;
    border-radius: 30px;
    color: #FFFFFF;

  }


}



.border {
  border: 1px solid white;
  background: white;
  border-radius: 50px;
  padding: 40px 50px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(2px);
  z-index: 2;
  width: 300px;
  display: flex;
  align-items: center;


}


section.classroom {

  margin-top: 150px;

  p {
    color: #545567;
    margin-top: 50px;
    margin-bottom: 25px;
  }



}


.img-classroom {

  position: relative;


  img {
    position: relative;
    z-index: 2;

  }

  .img-rect {
    position: absolute;
    left: -10px;
    top: -10px;
    z-index: 1;

  }

  .img-green-rect {

    position: absolute;
    right: -10px;
    bottom: -10px;
    z-index: 1;
  }



}

.learn-more {
  position: relative;

  .about {
    position: relative;
    z-index: 2;
  }

  .img-circle-big {
    position: absolute;
    top: -10px;
    left: -10px;
    z-index: 1;

  }

  .img-circle-small {
    position: absolute;
    top: 120px;
    right: 10px;


  }
}



.online-classroom {
  margin-top: 176px;
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;



  .users {
    position: relative;
    width: 710px;

    .blur-bg {
      position: relative;
      z-index: 2;
    }

    .green,
    .purple,
    .blue,
    .red {
      position: absolute;
      z-index: 1;
    }

    .green {
      top: -70px;
      left: 10px;
    }

    .purple {
      bottom: -60px;
      left: 450px;
    }

    .blue {
      top: -70px;
      left: 150px;
    }

    .red {
      left: 400px;
      bottom: -60px;
    }

    .instructor,
    .tamara-c,
    .adam,
    .humbert,
    .patricia {
      position: absolute;
      z-index: 3;
    }

    .instructor {
      left: 10px;
      top: 70px;
    }

    .tamara-c {
      top: 70px;
      left: 350px;
    }

    .adam {
      top: 10px;
      left: 500px;
    }

    .humbert {
      bottom: 30px;
      left: 350px;
    }

    .patricia {
      bottom: -60px;
      left: 500px;
    }

    .present,
    .call,
    .button {
      position: absolute;
      z-index: 4;
    }

    .present {
      left: 10px;
      bottom: 5px;
    }

    .call {
      bottom: 5px;
      left: 170px;
    }

    .button {
      left: 250px;
      bottom: 70px;
    }




  }

  .user-interface {
    max-width: 350px;

    h3 {
      margin-bottom: 30px;
    }
  }
}


.feature-block {
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  max-width: 800px;
  /* სტანდარტული სიგანე */
  gap: 80px;

  h3 {
    margin-bottom: 40px;
  }

  &.feature-block--wide {
    max-width: 1100px;
    margin-top: 50px;
  }
}


.See-more-features {
  margin-top: 100px;

  .btn {

    display: inline-block;
    border: 1px solid #49BBBD;
    border-radius: 50px;
    background: transparent;
    padding: 16px 36px;
    color: #49BBBD;
    text-decoration: none;
    transition: all 0.3 s;
  }

  .btn:hover {
    background-color: #49BBBD;
    color: #ffffff;
  }

}

.explore-courses {
  margin-top: 70px;




  .course-shelf {
    position: relative;

    .shelf-bg {

      background-color: #9DCCFF;
      position: absolute;
      width: 88%;
      height: 110%;
      opacity: 0.2;
      z-index: -1;
      left: -5%;
      top: -5%;
      border-bottom-right-radius: 20px;

    }

    .wrapper {

      list-style: none;
      position: relative;
      display: flex;
      gap: 20px;
      align-items: flex-end;
      padding-bottom: 40px;
      height: 65px;
      background-color: #0000003e;




      li.course {
        padding: 8px 10px;
        /* width: 80px; */
        border: 1px solid white;
        border-radius: 15px;
        /* width: 70px; */
        transform: skewX(15deg);
        position: relative;





        .title {
          border: 1px solid #e2f0d9;
          border-radius: 10px;
          font-size: 20px;
          color: white;
          width: 55px;
          writing-mode: vertical-rl;
          /* ტექსტის ამოსატრიალებლად */
          transform: rotate(180deg);
          white-space: nowrap;
          width: 100%;
          height: 100%;


        }


        .pill-card {
          width: 50px;
          height: 220px;
          background: #e2f0d9;
          border-radius: 20px;
          padding: 10px;
          z-index: 1;
          position: relative;
          transition-duration: 1s;

          &:hover {
            width: 410px;
            opacity: 0;

            &+.expanded {
              opacity: 1;

            }
          }
        }

        .expanded {
          position: absolute;
          top: 0;
          left: 0;
          /* right: 0;
          bottom: 0; */
          z-index: -1;
          opacity: 0;
          border: 2px solid #49BBBD;
          border-radius: 20px;
          width: 470px;
          height: 225px;

          &>div {
            &>img {
              align-self: center;
            }
          }




          .explore {
            border: 2px solid #49BBBD;
            background-color: transparent;
            color: #49BBBD;
            border-radius: 15px;
            /* width: 100px; */
            padding: 8px 5px;


          }


        }
      }
    }
  }
}



.pic-lorem {

  border: 1px solid #6DB4A7;
  background-color: white;
  width: 350px;
}



.testimonials {



  .assesment {
    border: 1px solid #49BBBD;
    border-radius: 30px;
    background: transparent;
    width: 300px;
    height: 50px;
    padding: 20px;




  }

  .arrow-icon {
    transform: scale(0.5);
    /* 50%-ით დაპატარავება */
  }

  .img-st {
    position: relative;
    z-index: 0;
  }

  .review {
    position: absolute;
    z-index: 1;
  }



}



.review-card {

  border: 1px solid black;
  border-radius: 20px;
  width: 400px;
  height: 200 px;
  display: flex;
  align-items: start;
  padding: 24px 28px;
  border-left-color: #F67766;
  border-left-width: 10px;
  font-size: 15px;
  background-color: #ffffff;
  position: relative;
  top: -80px;
  left: 100px;
  z-index: 2;




}

.student-name {
  font-weight: 700;
  font-size: 15px;
  color: #1c2b3a;
}




.meet {
  .news {
    border: 1px solid #49BBBD;
    background-color: #49BBBD;
    color: white;
    border-radius: 20px;
    width: 60px;
    padding: 6px;
    margin-top: 40px;
    margin-bottom: 20px;
    display: inline-block;
    text-align: center;
    transition: all 0.3s;

  }

  .news:hover {
    background-color: white;
    color: #49BBBD;
  }

}

.zoom-classes {


  position: relative;


  .btn {
    border: 1px solid #49BBBD;
    background-color: #49BBBD;
    border-radius: 20px;
    width: fit-content;
    color: white;
    position: absolute;
    padding: 5px 7px;
    bottom: 20px;
    right: 76%;
    transition: all 0.3s;
  }

  .btn:hover {
    background-color: white;
    color: #49BBBD;


  }

}


.footer {


  .brand {
    width: 270px;
    margin: auto;

    p {
      font-size: 20px;
      border-left: 1px solid #626381;
      color: #FFFFFF;
      padding-left: 20px;


    }

  }

  .newsletter {
    .email {
      padding: 10px;
      border: 1px solid #83839A;
      border-radius: 20px;
      color: #83839A;
      background-color: transparent;
      width: 300px;


    }

    .subscribe {
      padding: 10px;
      background-color: #49BBBD;
      color: white;
      border-radius: 20px;
      border: 1px solid #49BBBD;
      font-size: medium;

    }
  }

  ul {
    list-style: none;

    li {
      a {
        color: #83839A;

      }

    }


  }

  p {
    color: #83839A;
  }

}

section.login {


  .login-pic {
    background-image: url(../images/login-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 437px;
    height: 525px;
    border: 20px;
  }

  .buttons {
    border-radius: 1px solid #49BBBD99;
    background-color: #49BBBD99;
    width: 300px;
    height: 39px;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;

  }

  .register {

    border-radius: 1px solid #49BBBD;
    background-color: #49BBBD;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white
  }

  .container {
    max-width: 480px;
  }

  .input-group input {
    border: 1px solid #49BBBD;
    border-radius: 20px;
    padding: 10px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;

  }

  .password {

    border: none;
  }


  .lgn-btn {

    border: 1px solid #49BBBD;
    border-radius: 20px;
    background-color: #49BBBD;
    color: white;
    font-size: 15px;
    padding: 15px 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;


  }

}


section.register {

  .register-pic {
    background-image: url(../images/register-pic.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 437px;
    height: 525px;
    border: 20px;
  }

  .buttons {
    border-radius: 1px solid #49BBBD99;
    background-color: #49BBBD99;
    width: 300px;
    height: 39px;
    border-radius: 20px;
    padding: 20px 40px;
    color: white;

  }

  .register {

    border-radius: 1px solid #49BBBD;
    background-color: #49BBBD;
    padding: 5px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    color: white
  }

  .container {
    max-width: 480px;
  }

  .input-group input {
    border: 1px solid #49BBBD;
    border-radius: 20px;
    padding: 10px;
  }

  .wrapper {
    display: flex;
    align-items: center;
    width: 100%;

  }

  .password {

    border: none;
  }


  .lgn-btn {

    border: 1px solid #49BBBD;
    border-radius: 20px;
    background-color: #49BBBD;
    color: white;
    font-size: 15px;
    padding: 15px 70px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;

  }

}

section.inspiration {
  background-color: #9dccff4e;




  .left {
    width: 400px;

    h1 {
      font-size: 20px;
      color: #2F327D;
    }

    .learning-now {
      border: 1px solid #49BBBD;
      border-radius: 20px;
      width: 150px;
      padding: 10px 15px;
      color: white;
      background-color: #49BBBD;
    }

  }


}

section.reading {



  ul {

    li.ui {
      background-image: url(../images/meeting.png);
      width: 250px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 150px;
      padding: 10px;

    }

    li.react {
      background-image: url(../images/react.png);
      width: 250px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 150px;
      padding: 10px;

    }

    li.php {
      background-image: url(../images/php.png);
      width: 250px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 150px;
      padding: 10px;

    }

    li.js {
      background-image: url(../images/js.png);
      width: 250px;
      height: 150px;
      background-repeat: no-repeat;
      background-size: cover;
      width: 150px;
      padding: 10px;

    }

  }

  .title {
    border: #FFFFFFB2;
    background-color: #FFFFFFB2;
    color: black;
    font-size: 20px;
    border-radius: 20px;
    padding: 5px 40px;




  }

}

section.related {

  background-color: #9dccff4e;
  /* 
  .first{
  background-image: url(../images/instructors.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 300;
  
  } */

  .first {
    background-color: white;
    width: 500px;

    h2 {
      font-size: 15px;
      font-weight: 5px;
    }

  }

}

/* section.marketing-articles {

   .girl{
    background-image: url(../images/girl-whit-ipad.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 250px;
    height: 200px;
    border: 20px;
    

  } 


} */

.card {
  border: 1px solid white;
  background-color: white;
  box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.07);
  width: 300px;
  height: 400px;
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  h1 {
    font-size: 18px;
  }
}


section.price {
  ul {
    list-style: none;
  }

  .check-icon-gray::before {
    content: url(../images/icon-check.png);
    margin-right: 10px;

  }

  .check-icon-yellow::before {
    content: url(../images/icon-yellow.png);
    margin-right: 10px;

  }

  .check-icon-green::before {
    content: url(../images/icon-green.png);
    margin-right: 10px;

  }

  .price-wrapper {
    background-color: white;
    border: 1px solid white;
    border-radius: 20px;
    padding: 32px 24px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: auto
  }

  .price-btn {
    border: 1px solid gray;
    border-radius: 15px;
    padding: 16px 8px;
    display: flex;
    justify-content: center;

  }

  .featured {
    border: none;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.12);




  }
}

section.online-coaching {
  .contant {
    background-color: #252641;
    color: white;
    border: 1px solid #252641;
    border-radius: 20px;
    padding: 70px;

    .learning-btn {
      color: white;
      border: 1px solid #49BBBD;
      width: 200px;
      border-radius: 20px;
      background-color: #49BBBD;
      display: flex;
      justify-content: center;
      padding: 10px;

    }

  }
}

section.remote-learning {

  h2 {
    text-align: center;
    margin-bottom: 30px;
  }

  ul {

    list-style: none;

    li {
      border-bottom: 1px solid #e0e0e0;
      padding: 16px;

    }


  }


  .green-btn {
    .li-title::before {
      content: url(../images/icon-green-bf.png);
      margin-right: 10px;
    }


  }

  .hover-text {
    display: none;
    margin-top: 10px;
    padding-left: 25px;
    color: #696984;
    font-size: 14px;
    line-height: 1.5;
  }

  li:hover .hover-text {
    display: block;
  }

}

section.feedback-section {
  /*!!!!!!!!!!!!!!!!!!! */
  background-color: #9dccff5b;

  .review-stud {
    border: 1px solid white;
    border-radius: 18px;
    background-color: white;
    width: 250px;
    padding: 20px;
    position: relative;

  }


  .f-slider-btn {
    position: absolute;
    left: 190px;
  }

  .l-slider-btn {
    position: absolute;
    right: 190px;
  }


  .app {
    border: 1px solid #252641;
    background-color: #252641;
    padding: 50px 270px;
    border-radius: 20px;



  }
}

section.become-teacher {
  .btn-teacher {
    border: #49BBBD;
    background-color: #49BBBD;
    width: 200px;
    border-radius: 20px;
    padding: 10px 20px;
    display: flex;
    justify-content: center;
  }

  .first {

    border: 1px solid white;
    background: white;
    border-radius: 20px;
    padding: 10px 20px;
    width: 400px;


  }
}

section.history {
  background-color: #9dccff34;

  .card-wrapper {
    border: 1px solid white;
    background-color: white;
    padding: 20px;
    width: 350px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .progress-bar {
    width: 100%;
    height: 8px;
    border-radius: 10px;
    background: linear-gradient(to right, #49bbbd 70%, #e0e0e0 70%);
  }
}

.progress-bar {
  width: 100%;
  height: 8px;
  border-radius: 10px;
  background: linear-gradient(to right, #49bbbd 70%, #e0e0e0 70%);
}

section.category {
  .category-card {
    border: 1px solid white;
    padding: 30px;
    gap: 15px;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.2);
    width: 250px;
    border-radius: 20px;
  }

  .cards-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

}

section.recommend {
  background-color: #9dccff5a;


}

section.class-plan {
  .btn-overview {
    border: transparent;
    width: 100px;
    border-radius: 10px;
    padding: 8px;
  }

  .rate {
    background-color: #9DCCFF4D;
    border-radius: 20px;
    width: 700px;
    padding: 40px;

    .stars {

      .rate-box {

        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
        padding: 30px;

        ul {
          list-style: none;

        }
      }

      .progress {
        width: 100%;

        ul {
          list-style: none;

          li {
            color: #00000080
          }
        }
      }



    }
  }

  .border-b {
    border-bottom: 1px solid gray;
    padding-bottom: 15px;
    margin-bottom: 20px;
  }

  .pricing-box {
    position: absolute;
    top: 310px;
    right: 100px;
    width: 300px;
    height: auto;
    background-color: white;
    border-radius: 20px;
    padding: 20px;

    .buy-now {
      background-color: #49BBBD;
      border: 1px solid #49BBBD;
      color: white;
      font-size: large;
      padding: 10px 40px;
      border-radius: 15px;
      width: 250px;
    }

    .course-includes {


      ul {
        list-style: none;
        border-top: 1px solid black;
        padding-top: 20px;
      }

    }

  }

  .old-price {
    text-decoration: line-through;
    color: gray;
  }

  .training {
    border-bottom: 1px solid black;
    border-top: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .course-share {
    ul {
      list-style: none;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 15px;

    }
  }
}

section.online-class {

  .img-circle-big {
    position: absolute;
    left: 220px;

  }

  .img-circle-small {
    position: absolute;
    left: 600px;
    bottom: -1300px;

  }
}

section.educational-offers {

  .instructor-offer {
    background-image: url(../images/instructors.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 60px 40px;

  }

  .red-square {
    border: 1px solid #FF000099;
    background-color: #FF000099;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-size: medium;
  }
}

section.payment {
  ul {
    list-style: none;
  }

  .payment-box {
    border: 1px solid #FFFFFF;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    width: 400px;
  }


  .card-type img {
    max-width: 200px;
    height: 40px;
  }

  .card-types {
    input[type="radio"] {
      appearance: none;
      -webkit-appearance: none;

    }

  }

  .confirm-btn {
    margin-top: 40px;
    border: 1px solid #49BBBD;
    color: white;
    background-color: #49BBBD;
    width: 100%;
    border-radius: 15px;
    padding: 10px;
  }

  .form-group {
    border: 1px solid #D9D9D9;

  }

  .checkoutform {
    border: 1px solid white;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    width: 100%;
    padding: 20px;
    border-radius: 20px;
  }

  .payment-box {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 10px;
    background-color: transparent;
    box-shadow: none;
  }

  .summary-card {
    background-color: #9dccff63;
    width: auto;
    border-radius: 20px;

  }

  .cart-item {
    display: flex;
    gap: 10px;
    border-bottom: 1px solid #d0d7de;
    padding-bottom: 15px;
    margin-bottom: 15px;
  }


}

section.education-offers {

  .green-square {
    border: 1px solid #49BBBD;
    background-color: #49BBBD;
    width: 70px;
    height: 70px;
    border-radius: 10px;
    color: white;
    font-size: medium;
  }

  .offer_first {
    background-image: url(../images/meeting.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 40px 40px;

  }

  .offer_second {
    background-image: url(../images/girl-whit-ipad.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 40px 40px;

  }

  .offer_third {

    background-image: url(../images/cat.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 300px;
    height: 300px;
    border-radius: 20px;
    padding: 40px 40px;
  }


}

section.swift {
  ul {
    list-style: none;

    .button {
      border: 1px solid #49BBBD1A;
      background-color: #49BBBD1A;
      color: #696984;
      padding: 10px;
      border-radius: 20px;
    }
  }

  .line {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0.5px solid #696984
  }

  .follow-button {
    border: 1px solid #49BBBD;
    background-color: white;
    color: #49BBBD;
    padding: 10px 70px;
    border-radius: 10px;

  }
}

section.course-calendar {
  .arrow {
    border: 1px solid #49BBBD;
    background-color: #49BBBD;
    padding: 4px 2px;

  }

}

section.lessons {


  .event-wrapper {
    background-color: #e3f2fd;
    /* ღია ცისფერი ფონი */
    padding: 30px;
    width: 100%;

  }

  .about-course {
    background-color: #49BBBD;
    color: white;
    height: 100px;
    width: 100%;
  }

  .event-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 12px;
    width: 700px;
    max-width: 650px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);

  }

  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #333333;
    font-size: 14px;
  }

  .form-group textarea,
  input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 14px;
    background: #fff;
    transition: border-color 0.2s;
  }

  .form-row {
    display: flex;
    gap: 20px;
  }

  .form-actions {
    text-align: right;
  }

  .form-actions button {
    background: #4db6ac;
    color: white;
    border: none;
    padding: 12px 35px;
    border-radius: 6px;
    font-weight: bold;
    cursor: pointer;
    font-size: 14px;
    transition: background 0.2s;

  }
}

section.lessons {
  .module-list {
    .module-item {
      cursor: pointer;
      padding: 10px;
      margin: 5px;
      border-radius: 4px;
      width: 321px;
      transition-duration: 0.3s;


      .lessons-wrapper {
        height: 0;
        visibility: hidden;
        opacity: 0;
        transition-duration: 0.3s;

        .lesson {
          padding: 6px 10px;
          margin: 4px;
          border-radius: 3px;


        }

      }

      &.expanded {
        .lessons-wrapper {
          height: auto;
          visibility: visible;
          opacity: 1;

        }

      }

      &:hover {
        color: white;

      }
    }
  }


}



section.conference-meeting {
  margin-top: 30px;


  .arrow {
    border: 1px solid #49BBBD;
    background-color: #49BBBD;
    padding: 4px 2px;

  }

  .conference-boxs {
    padding: 20px;
    border: 1px solid white;
    background-color: white;
    border-radius: 20px;
    width: 935px;
  }

  .meet-border {
    border: 3px solid white;
    border-radius: 20px;
  }

  .meet {
    margin-top: 30px;
    background-image: url(../images/teacher.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 1000px;
    width: 900px;

  }

  .conference-b-boxs {
    padding: 20px;
    border: 1px solid #E6F2FF40;
    background-color: #E6F2FF;
    border-radius: 20px;
    width: 700px;
    margin-top: 100px;
  }

  .white-box {
    border: 1px solid white;
    border-radius: 18px;
    background-color: white;
    width: 50px;
    height: 50px;
    padding: 5px 10px;
  }
}

section.course-content {
  margin-top: 30px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  height: auto;
  


  .progress{
    border: 1px solid #49BBBD;
    width: 63px;
    height: 5px;
    background-color:  #49BBBD;
    opacity: 0.25;
  }
  .progress-act{
    background-color: #49BBBD;
    border: 1px solid #49BBBD;
    width: 63px;
    height: 5px;
  }

  .courses-list {
    width: 100%;
    padding: 20px;
    background-color: #f8f9fa;
    border-radius: 12px;
    display: block;

  }

  .course-item {
    background-color: #ffffff;
    padding: 14px;
    margin-bottom: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    border: 1px solid white;
    list-style: none;
  }

  .course-title {
    font-weight: bold;
    color: #252641;
    font-size: 16px;
    /* width: 300px; */
  }


  .topics-list {
    display: none;
    margin-top: 10px;
    padding-left: 20px;
    color: #252641;
    font-size: 14px;
  }

  .course-item.active .course-title {
    color: #49BBBD;
  }

  .course-item.active .topics-list {
    display: block;


  }

  .course-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    font-size: 14px;
    color: #252641;
}

  .course-info span {
    display: flex;
    align-items: center;
    gap: 6px; 
}
}

section.book{
    border: 1px solid white;
    background-color: white;
    width: auto;
    border-radius: 10px;
    padding: 20px;


  .benefit-box{
    border: 1px solid white;
    box-shadow:0 10px 20px rgba(0, 0, 0, 0.15);
    width: auto;
    padding: 10px;
    border-radius: 20px;

  }
}

section.search-bar{
  .content-background{
    background-image: url('../images/classrom.png');
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center;
    height: 200px;
    opacity: 0.6;

  }
  .search-bar{
    border: 1px solid white;
    background-color: white;
    width: 100px;
  }
     
}

.courses-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 20px;
    padding: 20px;
}


.course-card {
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}




.course-card h3 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #252641;
}


.course-card p {
    font-size: 14px;
    color: #252641;
    margin-bottom: 15px;
}


.course-info {
    font-size: 13px;
    color: #696984;
    display: flex;
    gap:50px; 
    margin-bottom: 15px;
    font-weight: 500;
}


.teacher-info {
    display: flex;
    align-items: center;
    gap: 10px;
    border-top: 1px solid #f0f0f0;
    padding-top: 12px;
    margin-top: auto;
}

.teacher-info span {
    font-size: 14px;
    color: 252641;
    font-weight: 500;
}








.learning-info-box {
   
    padding: 30px;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.learning-info-box h3 {
    font-size: 22px;
    color: #2D3436;
    margin: 0;
}

.learning-info-box .features-list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
}


.learning-info-box .features-list li {
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 15px;
    color: #2D3436;
}


.learning-info-box .features-list .dot {
    width: 8px;
    height: 8px;
    background-color: #49BBBD; 
    border-radius: 50%;
    flex-shrink: 0;
}


.learning-info-box .btn-start {
    display: inline-block;
    background-color: #49BBBD;
    color: #ffffff;
    text-decoration: none;
    text-align: center;
    padding: 12px 24px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 15px;
   
}


.learning-info-box .btn-start:hover {
    background-color: #3aa8aa;
}

